name: Check links in Markdown files

on:
  schedule:
    - cron: "0 0 * * 1"
  push:
    branches: [master]
    paths:
      - "**/*.md"
  pull_request:
    branches: [master]
    paths:
      - "**/*.md"

permissions: {}

jobs:
  check-links:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Check Markdown links
        uses: gaurav-nelson/github-action-markdown-link-check@3c3b66f1f7d0900e37b71eca45b63ea9eedfce31
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          folder-path: "."
          file-path: "README.md"
