name: Docs

on:
  push:
    tags:
      - "v*.*.*"
    branches:
      - "master"
      - "release/**"
  pull_request:
    paths:
      - .github/workflows/docs.yaml
      - docs/*.md
      - README.md
      - pyproject.toml

permissions: {}

jobs:
  docs-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Check docs links
        uses: gaurav-nelson/github-action-markdown-link-check@3c3b66f1f7d0900e37b71eca45b63ea9eedfce31
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          folder-path: "."
          file-path: "README.md"
